# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://dcigykpfdehqbtbaxzak.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjaWd5a3BmZGVocWJ0YmF4emFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI1NDEzNTYsImV4cCI6MjA3ODExNzM1Nn0.bHxC87Sox8vwNTqREljvO2FJRveplINwggOMrF8k0IE
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# Next.js
NEXT_PUBLIC_APP_URL=http://localhost:3000

